Repository teal-fm/teal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

.pre-commit-config.yaml:

# Pre-commit configuration for Teal project
# Install with: pip install pre-commit && pre-commit install
# Run manually with: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: mixed-line-ending
        args: ["--fix=lf"]

  # TypeScript/JavaScript formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: pnpm prettier --write
        language: system
        files: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
        pass_filenames: true

      - id: biome-check
        name: Biome Check
        entry: pnpm biome check --apply
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check
        entry: pnpm typecheck
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: pnpm rust:fmt
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo Clippy
        entry: pnpm rust:clippy
        language: system
        files: \.rs$
        pass_filenames: false
        args: ["--", "-D", "warnings"]

  # Lexicon validation and generation
  - repo: local
    hooks:
      - id: lexicon-validate
        name: Validate Lexicons
        entry: pnpm lex:validate
        language: system
        files: lexicons/.*\.json$
        pass_filenames: false

      - id: lexicon-generate
        name: Generate Lexicons (files ignored by .gitignore)
        entry: pnpm lex:gen-server
        language: system
        files: lexicons/.*\.json$
        pass_filenames: false
        always_run: false

  # Optional: Additional checks
  - repo: local
    hooks:
      - id: no-console-log
        name: Check for console.log
        entry: bash -c 'if grep -r "console\.log" --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" .; then echo "Found console.log statements. Please remove them."; exit 1; fi'
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: check-todos
        name: Check for TODO/FIXME
        entry: bash -c 'if grep -r -i "TODO\|FIXME" --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" --include="*.rs" .; then echo "Found TODO/FIXME comments. Consider addressing them."; fi'
        language: system
        files: \.(ts|tsx|js|jsx|rs)$
        pass_filenames: false
        verbose: true

# Global settings
default_language_version:
  node: system
  python: python3

# Skip certain hooks for specific file patterns
exclude: |
  (?x)^(
    vendor/.*|
    node_modules/.*|
    target/.*|
    .git/.*|
    .*\.lock$
  )$

Constrain actor view identities to DIDs
  lexicons/fm.teal/actor/defs.json
Due: prettier, lexicon-validate, lexicon-generate

Constrain actor view handles
  lexicons/fm.teal/actor/defs.json
Due: prettier, lexicon-validate, lexicon-generate

Require DIDs for author-specific feed queries
  lexicons/fm.teal/feed/getActorFeed.json
  lexicons/fm.teal/feed/getPlay.json
Due: prettier, lexicon-validate, lexicon-generate

Validate play record keys
  lexicons/fm.teal/feed/getPlay.json
Due: prettier, lexicon-validate, lexicon-generate

Constrain profile image references to CIDs
  lexicons/fm.teal/actor/defs.json
Due: prettier, lexicon-validate, lexicon-generate

Document featured MusicBrainz entity types
  lexicons/fm.teal/actor/profile.json
Due: prettier, lexicon-validate, lexicon-generate

Use consistent datetime terminology
  lexicons/fm.teal/actor/defs.json
  lexicons/fm.teal/actor/status.json
  lexicons/fm.teal/feed/defs.json
  lexicons/fm.teal/feed/play.json
Due: prettier, lexicon-validate, lexicon-generate

Align actor query descriptions with accepted identifiers
  lexicons/fm.teal/actor/getProfile.json
  lexicons/fm.teal/actor/getProfiles.json
Due: prettier, lexicon-validate, lexicon-generate

feat(amethyst): add cohesive dark mode
  apps/amethyst/app/(tabs)/(stamp)/stamp/index.tsx
  apps/amethyst/app/(tabs)/(stamp)/stamp/submit.tsx
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/app/(tabs)/post/[did]/[rkey].tsx
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/app/+html.tsx
  apps/amethyst/app/onboarding/imageSelectionPage.tsx
  apps/amethyst/assets/web.css
  apps/amethyst/components/actor/editProfileView.tsx
  apps/amethyst/components/play/playView.tsx
  apps/amethyst/components/play/verticalPlayView.tsx
  apps/amethyst/components/teal/PlayFeedCard.tsx
  apps/amethyst/components/teal/ProfileStats.tsx
  apps/amethyst/components/teal/SocialComposer.tsx
  apps/amethyst/components/teal/SocialPostCard.tsx
  apps/amethyst/components/teal/TealShell.tsx
  apps/amethyst/components/ui/ago.tsx
  apps/amethyst/constants/Colors.ts
  apps/amethyst/global.css
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

docs(todo): record dark mode preview
  todo.md
Due: prettier

feat(amethyst): add manual theme toggle
  apps/amethyst/components/teal/TealShell.tsx
  apps/amethyst/components/toggleTheme.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(cadet): harden failed play retries
  apps/amethyst/lib/__tests__/manualListens.test.ts
  apps/amethyst/lib/manualListens.ts
  migrations/20260811000001_order_ingestion_retries.sql
  services/cadet/src/ingestion_retry.rs
  services/cadet/src/ingestors/teal/feed_play.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

fix(amethyst): persist theme preference
  apps/amethyst/app/_layout.tsx
  apps/amethyst/lib/useColorScheme.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(cadet): reset attempts for newer retry revisions
  services/cadet/src/ingestion_retry.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix(cadet): serialize account state with play replay
  services/cadet/src/account.rs
  services/cadet/src/ingestors/teal/feed_play.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix(cadet): serialize retry replay with live commits
  services/cadet/src/ingestion_retry.rs
Due: cargo-fmt, cargo-clippy, check-todos

docs(todo): record retry replay coordination
  todo.md
Due: prettier

fix(amethyst): use teal identity in sidebar
  apps/amethyst/components/teal/TealShell.tsx
  apps/amethyst/stores/authenticationSlice.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(amethyst): keep new posts on teal identity
  apps/amethyst/components/teal/SocialComposer.tsx
  apps/amethyst/components/teal/SocialPostCard.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(core): harden search and ingestion paths
  .sqlx/query-03831a5c2d4578f2c9c3dfc4684a9ef73340b1fd011b1e147d43d46987f9f0e0.json
  .sqlx/query-1b1037b346ba7dc39ef6f133d6b9d60da8e2492383088cc50e88a0a29d88428b.json
  .sqlx/query-306856b0002f166d68d27449a1561df41945aed55858810c2f3425dcfd3048ee.json
  .sqlx/query-92e4f3870acee7850e23f821e72c7b6cc10df7e31b8cfef76dc35186b73a4614.json
  .sqlx/query-ad5ea929fd5a2a779a71a03c446fdc93ee31467053d7dac1ea035f453ba7df91.json
  apps/amethyst/app/(tabs)/playlist/[name].tsx
  apps/amethyst/components/teal/PlaylistControls.tsx
  apps/amethyst/lib/searchOrchestrator.ts
  apps/amethyst/lib/teal/api.ts
  apps/aqua/Dockerfile
  apps/aqua/src/api/mod.rs
  apps/aqua/src/repos/search.rs
  apps/aqua/src/repos/stats.rs
  apps/aqua/src/xrpc/search.rs
  lexicons/fm.teal.alpha/search/defs.json
  lexicons/fm.teal.alpha/search/getResults.json
  packages/lexicons/src/lexicons.ts
  packages/lexicons/src/types/fm/teal/alpha/search/defs.ts
  packages/lexicons/src/types/fm/teal/alpha/search/getResults.ts
  services/cadet/src/account.rs
  services/cadet/src/ingestors/car/car_import.rs
  services/satellite/src/counts.rs
  services/satellite/src/refresh.rs
  services/types/src/fm_teal/alpha/feed/social/playlist.rs
  services/types/src/fm_teal/alpha/search.rs
  services/types/src/fm_teal/alpha/search/get_results.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

docs(amethyst): add sidebar brand and QA notes
  apps/amethyst/assets/images/teal-fm-logo.svg
  teal-app-qa-notes.md
  todo.md
Due: prettier

fix(namespace): preserve alpha records during migration
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/app/onboarding/index.tsx
  apps/amethyst/components/actor/actorView.tsx
  apps/amethyst/lib/__tests__/onboardingRecords.test.ts
  apps/amethyst/lib/atp/onboardingRecords.ts
  services/cadet/src/ingestors/car/README.md
  services/cadet/src/ingestors/car/car_import.rs
  services/cadet/src/ingestors/teal/feed_play.rs
  services/cadet/src/ingestors/teal/mod.rs
  services/cadet/src/main.rs
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

fix(cadet): deduplicate alpha and stable CAR records
  services/cadet/src/ingestors/car/car_import.rs
Due: cargo-fmt, cargo-clippy, check-todos

fix(namespace): complete stable API migration compatibility
  .sqlx/query-41b7d971ace6a57750c7a4d3fbf19d213124144d9ecb22aa2302d675a80ce7c4.json
  .sqlx/query-7e4ab6be5c601dab08817293924e681b97669c1d6d33455cc0f7f33ae107aad5.json
  apps/amethyst/components/actor/actorView.tsx
  apps/amethyst/lib/__tests__/onboardingRecords.test.ts
  apps/amethyst/lib/atp/onboardingRecords.ts
  apps/amethyst/stores/authenticationSlice.tsx
  apps/aqua/src/repos/actor_profile.rs
  apps/aqua/src/xrpc/actor.rs
  apps/aqua/src/xrpc/feed.rs
  services/cadet/src/ingestors/car/car_import.rs
  services/cadet/src/ingestors/teal/actor_profile.rs
  services/cadet/src/ingestors/teal/actor_status.rs
  services/cadet/src/ingestors/teal/feed_play.rs
  services/cadet/src/ingestors/teal/mod.rs
  tools/lexicon-cli/src/commands/validate.ts
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

fix(ci): update Jacquard lexicon generator
  apps/aqua/src/repos/feed_play.rs
  apps/aqua/src/repos/mod.rs
  apps/aqua/src/repos/stats.rs
  services/cadet/src/ingestors/teal/feed_play.rs
  tools/lexicon-cli/src/commands/generate.ts
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

fix: address review findings
  Cargo.toml
  apps/amethyst/lib/__tests__/onboardingRecords.test.ts
  services/cadet/src/ingestors/car/car_import.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

fix(ci): stabilize lexicon image builds
  .github/workflows/aqua.yml
  .github/workflows/cadet.yml
  todo.md
  tools/lexicon-cli/src/commands/generate.ts
  tools/lexicon-cli/src/utils/canonicalize-rust.ts
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

feat(status): add Jetstream status API
  .env.template
  .sqlx/query-16ba3d085cb6696c3bb48aa1b37d7846719d22d944d82c4e6befbd4d8ffc05da.json
  .sqlx/query-1c14d75f80fa6b911c56b803ae7a53dfbbc95ddf9a81c8742681f2ba998c5f14.json
  .sqlx/query-28bbac9298bcd29c404a1061888456458baa22609d498f149a38d7b9500f1a25.json
  .sqlx/query-4303819aac751519fcff3a414d4e6f963aa1e43c71f65a42305a3955648313b2.json
  .sqlx/query-548b62bd2bc0d4679f1145610df0f2528e87df25b2cbddcee51c133900dce9e5.json
  .sqlx/query-74fd92218366eb4a616ff81824fafa80a8e37775e6f979155e6412def463c630.json
  .sqlx/query-8e24fa792a9f8d0bde4be502fdb5ec9efa6ce76274f8fe46f81a0b530d1a8516.json
  .sqlx/query-8ec9f277ffb6db23c8c9e5641366a272e396cd8e2e9779598fa9387e7ce65658.json
  .sqlx/query-b535f51758c57cc6d60c85834c00aefc564f22d488b597bb0ce2c801ede2f1b1.json
  .sqlx/query-c96ef124e5c2b5af63c5f125986081d429b7f4012d48e6d09db08fd6bf8a05b8.json
  .sqlx/query-d2b551c558f0cf71a039d217875a6a9314c621b724a59f7313f8db663b0ec225.json
  .sqlx/query-d9d0c8add047b4e39dd4ead8da8d707a9e09ce1c8e1837a947eae1003af36c40.json
  Cargo.lock
  Cargo.toml
  apps/aqua/package.json
  apps/status/Cargo.toml
  apps/status/Dockerfile
  apps/status/package.json
  apps/status/readme.md
  apps/status/src/api.rs
  apps/status/src/db.rs
  apps/status/src/jetstream.rs
  apps/status/src/main.rs
  apps/status/src/replay.rs
  compose.dev.yml
  compose.yaml
  lexicons/fm.teal/actor/getStatus.json
  migrations/20260818000001_status_api.sql
  pnpm-lock.yaml
  railway.json
Due: prettier, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, check-todos

fix(status): ignore malformed timestamps
  .sqlx/query-9f3c76f42b017fd68e917c6ffe5b4f0943f3628cd118b47c747bd4be2758c5c4.json
  .sqlx/query-fee7a0de607202ae7c793729b47904a22d1174bbc2574fc2fedb7c532e3aa1ad.json
  apps/status/src/db.rs
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix(status): safely parse status timestamps
  .sqlx/query-d86f698e124c86ae08dd5e2f4f852563f48d625c69e361e8e18c1870694420f6.json
  .sqlx/query-e599cefeb805d4b625acb25c23caa93b11352bdfff1a6c89e0f7be31c4c8555e.json
  apps/status/src/db.rs
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix(status): build for target platform
  apps/status/Dockerfile
Due: none

fix(status): supervise jetstream consumer
  apps/status/src/main.rs
Due: cargo-fmt, cargo-clippy, check-todos

fix(status): parse Jetstream info frames
  apps/status/src/jetstream.rs
Due: cargo-fmt, cargo-clippy, check-todos

fix(status): propagate resolver response errors
  apps/status/src/db.rs
Due: cargo-fmt, cargo-clippy, check-todos

fix(status): align replay status scope
  apps/status/src/replay.rs
Due: cargo-fmt, cargo-clippy, check-todos

fix(status): enforce unique handle ownership
  .sqlx/query-3e10cfc80cd89f379a1bafbf6fcfddc2607f0688c52fef9aff8c43505e7bbb84.json
  .sqlx/query-cf15b5a56c317909c780c9595748b078ab3dbe1490d2d8978a6d189a673730b6.json
  apps/status/src/db.rs
  migrations/20260818000001_status_api.sql
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix(status): isolate Jetstream consume errors
  apps/status/src/jetstream.rs
Due: cargo-fmt, cargo-clippy, check-todos
