Repository teal-fm/teal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

.pre-commit-config.yaml:

# Pre-commit configuration for Teal project
# Install with: pip install pre-commit && pre-commit install
# Run manually with: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: mixed-line-ending
        args: ["--fix=lf"]

  # TypeScript/JavaScript formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: pnpm prettier --write
        language: system
        files: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
        pass_filenames: true

      - id: biome-check
        name: Biome Check
        entry: pnpm biome check --apply
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check
        entry: pnpm typecheck
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: pnpm rust:fmt
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo Clippy
        entry: pnpm rust:clippy
        language: system
        files: \.rs$
        pass_filenames: false
        args: ["--", "-D", "warnings"]

  # Lexicon validation and generation
  - repo: local
    hooks:
      - id: lexicon-validate
        name: Validate Lexicons
        entry: pnpm lex:validate
        language: system
        files: lexicons/.*\.json$
        pass_filenames: false

      - id: lexicon-generate
        name: Generate Lexicons (files ignored by .gitignore)
        entry: pnpm lex:gen-server
        language: system
        files: lexicons/.*\.json$
        pass_filenames: false
        always_run: false

  # Optional: Additional checks
  - repo: local
    hooks:
      - id: no-console-log
        name: Check for console.log
        entry: bash -c 'if grep -r "console\.log" --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" .; then echo "Found console.log statements. Please remove them."; exit 1; fi'
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: check-todos
        name: Check for TODO/FIXME
        entry: bash -c 'if grep -r -i "TODO\|FIXME" --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" --include="*.rs" .; then echo "Found TODO/FIXME comments. Consider addressing them."; fi'
        language: system
        files: \.(ts|tsx|js|jsx|rs)$
        pass_filenames: false
        verbose: true

# Global settings
default_language_version:
  node: system
  python: python3

# Skip certain hooks for specific file patterns
exclude: |
  (?x)^(
    vendor/.*|
    node_modules/.*|
    target/.*|
    .git/.*|
    .*\.lock$
  )$

fix(cadet): ingest profile lifecycle events
  .sqlx/query-41ef76f85e8b2d37ff906c16973ce08c03219332c86d6f1b7bfa752f0d75275b.json
  .sqlx/query-b9ca1a73cba5a29665e5f996fd33410054936bbd74cfd611767bf6a7893ebded.json
  services/cadet/src/ingestors/car/car_import.rs
  services/cadet/src/ingestors/teal/actor_profile.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

feat(feed): show listener profile identity
  .sqlx/query-1b2d407b075babff7413b711a4992a7cd17024872e2b622e66aeb8a48ca8f6dd.json
  .sqlx/query-5edc2de23cd7ca5b0c3c16e4eb1947338dbc276a4cbf8e116e7dd11bc3c7949e.json
  .sqlx/query-79c5b71501e7d47ee397a17f73fe8ed0615fea2bfdf3c367b04b5a0353bfdb59.json
  .sqlx/query-7fa22b474b224ecad073e47528ca7b3f6aa61951da0c7618f5c06324f25b0afd.json
  .sqlx/query-9b4652178f3c57066ea516b9972c99161ebf6c771232d631a89b14425caea9bc.json
  .sqlx/query-f90899d33bea3bb7fef53c14fd2dfee801076979110792acbdb5dc17e87d9a37.json
  apps/amethyst/components/songish/PlayFeedCard.tsx
  apps/aqua/src/repos/feed_play.rs
  apps/aqua/src/repos/mod.rs
  apps/aqua/src/repos/stats.rs
  lexicons/fm.teal.alpha/feed/defs.json
  services/cadet/src/ingestors/teal/actor_profile.rs
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

feat(search): add live explore discovery
  .sqlx/query-1b1037b346ba7dc39ef6f133d6b9d60da8e2492383088cc50e88a0a29d88428b.json
  .sqlx/query-5e6b6ec603ed32de54da8236a54708f0c27e66cd04780fa3fd733efc329801f0.json
  .sqlx/query-75d93f44f432f071ee5a829a68e3d4b1d04b1eb8af5a518a0a746de4c5ae4e67.json
  .sqlx/query-b920fc9e7b2c81158d6f2cdc9dbf618eda19f519102c0973ce8e71b382fcface.json
  apps/amethyst/app/(tabs)/search/index.tsx
  apps/amethyst/lib/teal/api.ts
  apps/aqua/src/main.rs
  apps/aqua/src/repos/mod.rs
  apps/aqua/src/repos/search.rs
  apps/aqua/src/xrpc/mod.rs
  apps/aqua/src/xrpc/search.rs
  lexicons/fm.teal.alpha/search/defs.json
  lexicons/fm.teal.alpha/search/getResults.json
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

feat(feed): add infinite scroll pagination
  .sqlx/query-469181e5bef94d33e4275b012bc4cf8a82fb64449f15b5b512237bb63a15f38a.json
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/components/songish/SongishShell.tsx
  apps/amethyst/lib/teal/api.ts
  apps/aqua/src/repos/stats.rs
  apps/aqua/src/xrpc/stats.rs
  lexicons/fm.teal.alpha/stats/getLatest.json
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

feat(music): add artist and album pages
  .sqlx/query-08f2f4778882d946cc1d82f9ca7dd3bfe1bff6cab962a119d0a721e332d98d51.json
  .sqlx/query-50705a996b6048f8d9d145e27b34c62d8ead70b840deb29957ec60d2988b4ac9.json
  .sqlx/query-7b59e08731ba68a06d740c7715258bce8f914f9a705f61c79e7d8f9fb0edce54.json
  .sqlx/query-abe60b617d4cd5861a4a8f80755adb8946f3df1bf85b8a7dc3b7c6f2b5733e6d.json
  .sqlx/query-c06c1576352568580ef9a4284b4607311fe73a06606146de92f109d2ce5dedb6.json
  apps/amethyst/app/(tabs)/:o/music/[artist]/[release]/[track].tsx
  apps/amethyst/app/(tabs)/:o/music/[artist]/[release]/index.tsx
  apps/amethyst/app/(tabs)/:o/music/[artist]/index.tsx
  apps/amethyst/app/(tabs)/search/index.tsx
  apps/amethyst/components/songish/PlayFeedCard.tsx
  apps/amethyst/lib/teal/api.ts
  apps/amethyst/lib/teal/routes.ts
  apps/aqua/src/main.rs
  apps/aqua/src/repos/mod.rs
  apps/aqua/src/repos/music.rs
  apps/aqua/src/repos/stats.rs
  apps/aqua/src/xrpc/mod.rs
  apps/aqua/src/xrpc/music.rs
  lexicons/fm.teal.alpha/music/defs.json
  lexicons/fm.teal.alpha/music/getAlbum.json
  lexicons/fm.teal.alpha/music/getArtist.json
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

style(amethyst): refresh Teal interface
  apps/amethyst/app/(tabs)/(stamp)/stamp/index.tsx
  apps/amethyst/app/(tabs)/(stamp)/stamp/success.tsx
  apps/amethyst/app/(tabs)/:o/music/[artist]/[release]/[track].tsx
  apps/amethyst/app/(tabs)/:o/music/[artist]/[release]/index.tsx
  apps/amethyst/app/(tabs)/:o/music/[artist]/index.tsx
  apps/amethyst/app/(tabs)/_layout.tsx
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/app/(tabs)/notifications.tsx
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/app/(tabs)/search/index.tsx
  apps/amethyst/app/(tabs)/settings/index.tsx
  apps/amethyst/app/auth/login.tsx
  apps/amethyst/app/auth/logoutModal.tsx
  apps/amethyst/app/auth/options.tsx
  apps/amethyst/app/auth/signup.tsx
  apps/amethyst/app/onboarding/descriptionPage.tsx
  apps/amethyst/app/onboarding/displayNamePage.tsx
  apps/amethyst/app/onboarding/imageSelectionPage.tsx
  apps/amethyst/app/onboarding/index.tsx
  apps/amethyst/components/songish/PlayFeedCard.tsx
  apps/amethyst/components/songish/RightRail.tsx
  apps/amethyst/components/songish/SongishShell.tsx
  apps/amethyst/global.css
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

style(amethyst): remove preview icons and serif type
  apps/amethyst/app/(tabs)/(stamp)/stamp/success.tsx
  apps/amethyst/app/(tabs)/:o/music/[artist]/[release]/[track].tsx
  apps/amethyst/app/(tabs)/:o/music/[artist]/[release]/index.tsx
  apps/amethyst/app/(tabs)/:o/music/[artist]/index.tsx
  apps/amethyst/app/(tabs)/notifications.tsx
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/app/(tabs)/search/index.tsx
  apps/amethyst/app/_layout.tsx
  apps/amethyst/app/auth/login.tsx
  apps/amethyst/app/auth/logoutModal.tsx
  apps/amethyst/app/auth/options.tsx
  apps/amethyst/app/auth/signup.tsx
  apps/amethyst/app/onboarding/descriptionPage.tsx
  apps/amethyst/app/onboarding/displayNamePage.tsx
  apps/amethyst/app/onboarding/imageSelectionPage.tsx
  apps/amethyst/app/onboarding/index.tsx
  apps/amethyst/components/songish/PlayFeedCard.tsx
  apps/amethyst/components/songish/RightRail.tsx
  apps/amethyst/components/songish/SongishShell.tsx
  apps/amethyst/global.css
  apps/amethyst/tailwind.config.js
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

refactor(amethyst): remove legacy project naming
  AGENT.md
  apps/amethyst/app/(tabs)/(stamp)/stamp/index.tsx
  apps/amethyst/app/(tabs)/(stamp)/stamp/success.tsx
  apps/amethyst/app/(tabs)/:o/music/[artist]/[release]/[track].tsx
  apps/amethyst/app/(tabs)/:o/music/[artist]/[release]/index.tsx
  apps/amethyst/app/(tabs)/:o/music/[artist]/index.tsx
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/app/(tabs)/notifications.tsx
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/app/(tabs)/search/index.tsx
  apps/amethyst/app/(tabs)/settings/index.tsx
  apps/amethyst/components/teal/PlayFeedCard.tsx
  apps/amethyst/components/teal/RightRail.tsx
  apps/amethyst/components/teal/TealShell.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

feat(feed): paginate actor plays
  .sqlx/query-098c1e752ec1e822d32a76fdfbae5d8bfae01c8e4942518a15bc16f7fa5e025b.json
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/components/teal/PlayFeedCard.tsx
  apps/amethyst/lib/teal/api.ts
  apps/aqua/src/repos/feed_play.rs
  apps/aqua/src/xrpc/feed.rs
  lexicons/fm.teal.alpha/feed/getActorFeed.json
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

fix(satellite): avoid sqlx offline cache gap
  services/satellite/src/counts.rs
Due: cargo-fmt, cargo-clippy, check-todos

test(cadet): cover play ingestion lifecycle
  services/cadet/src/ingestors/teal/feed_play.rs
Due: cargo-fmt, cargo-clippy, check-todos

fix(amethyst): render teal profile blobs
  apps/amethyst/app/(tabs)/profile/[handle].tsx
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(amethyst): resolve recording cover art
  apps/amethyst/app/(tabs)/:o/music/[artist]/[release]/[track].tsx
  apps/amethyst/components/teal/PlayFeedCard.tsx
  apps/amethyst/lib/teal/api.ts
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(amethyst): clamp feed card text
  apps/amethyst/components/teal/PlayFeedCard.tsx
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

docs(amethyst): add stable oauth tunnel setup
  compose.dev.yml
  docs/development-oauth-tunnel.md
Due: prettier

docs: update teal todo progress
  todo.md
Due: prettier

fix(rust): run sqlx checks offline in package scripts
  apps/aqua/package.json
  services/cadet/package.json
  services/satellite/package.json
Due: prettier

feat(aqua): order album tracks from musicbrainz
  apps/aqua/src/repos/music.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

refactor(satellite): read artists from extended join
  services/satellite/src/counts.rs
Due: cargo-fmt, cargo-clippy, check-todos

docs: decide legacy artist join removal
  docs/legacy-play-to-artists-decision.md
  todo.md
Due: prettier

feat(amethyst): use wikidata artist images
  apps/amethyst/app/(tabs)/:o/music/[artist]/index.tsx
  apps/amethyst/lib/teal/api.ts
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

docs: mark spa fallback verified
  todo.md
Due: prettier

docs(amethyst): record feed state qa
  docs/amethyst-feed-state-qa.md
  todo.md
Due: prettier

docs(cadet): defer subscriberepos adapter
  docs/subscriberepos-decision.md
  todo.md
Due: prettier

docs(cadet): verify jetstream play filter
  docs/jetstream-filter-qa.md
  todo.md
Due: prettier

docs(amethyst): defer audio preview controls
  docs/audio-preview-controls-decision.md
  todo.md
Due: prettier

docs(amethyst): capture live data screenshots
  docs/amethyst-live-data-screenshots.md
  docs/qa/screenshots/amethyst-live-desktop-2026-06-03.png
  docs/qa/screenshots/amethyst-live-mobile-2026-06-03.png
  todo.md
Due: prettier

docs: add llm writing plan
  LLM_WRITING/songish-teal-clone-plan.md
Due: prettier

feat(lexicons): finalize social badge records
  lexicons/fm.teal.alpha/feed/social/badge.json
  lexicons/fm.teal.alpha/feed/social/badgeAssignment.json
  lexicons/fm.teal.alpha/feed/social/defs.json
  lexicons/fm.teal.alpha/feed/social/like.json
  lexicons/fm.teal.alpha/feed/social/playlist.json
  lexicons/fm.teal.alpha/feed/social/playlistItem.json
  lexicons/fm.teal.alpha/feed/social/post.json
  lexicons/fm.teal.alpha/feed/social/repost.json
Due: prettier, lexicon-validate, lexicon-generate

fix(lexicons): require mbid uri values
  lexicons/fm.teal.alpha/feed/play.json
  lexicons/fm.teal.alpha/feed/social/defs.json
  lexicons/fm.teal.alpha/music/getAlbum.json
  lexicons/fm.teal.alpha/music/getArtist.json
Due: prettier, lexicon-validate, lexicon-generate

fix(lexicons): preserve deprecated artist mbids
  lexicons/fm.teal.alpha/feed/play.json
  lexicons/fm.teal.alpha/feed/social/defs.json
Due: prettier, lexicon-validate, lexicon-generate

docs: add social lexicon implementation todos
  todo.md
Due: prettier

docs: merge agent instructions
  AGENT.md
  AGENTS.md
Due: prettier

feat(cadet): index new Teal social lexicons
  apps/aqua/src/repos/actor_profile.rs
  lexicons/fm.teal.alpha/actor/defs.json
  migrations/20241220000009_social_lexicon_indexing.sql
  services/cadet/src/ingestors/car/car_import.rs
  services/cadet/src/ingestors/teal/actor_profile_status.rs
  services/cadet/src/ingestors/teal/mod.rs
  services/cadet/src/ingestors/teal/social.rs
  services/cadet/src/main.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, check-todos

feat(aqua): complete user stats pagination
  apps/aqua/src/repos/actor_profile.rs
  apps/aqua/src/repos/stats.rs
  apps/aqua/src/xrpc/stats.rs
  migrations/20241220000010_status_expiry_indexing.sql
  services/cadet/src/ingestors/teal/actor_status.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

feat(aqua): add social read xrpc routes
  apps/aqua/src/main.rs
  apps/aqua/src/repos/mod.rs
  apps/aqua/src/repos/social.rs
  apps/aqua/src/repos/stats.rs
  apps/aqua/src/xrpc/mod.rs
  apps/aqua/src/xrpc/social.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

feat(amethyst): show social notifications
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/app/(tabs)/notifications.tsx
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/components/teal/RichText.tsx
  apps/amethyst/lib/teal/api.ts
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

feat(amethyst): render social post actions
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/components/teal/SocialPostCard.tsx
  apps/amethyst/lib/teal/social.ts
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

feat(amethyst): compose social posts
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/components/teal/SocialComposer.tsx
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

feat(amethyst): show profile badges
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/lib/teal/api.ts
Due: prettier, biome-check, typescript-check, no-console-log, check-todos
