Repository teal-fm/teal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

prettier:
  name: Prettier
  entry: pnpm prettier --write
  language: system
  pass_filenames: true

biome-check:
  name: Biome Check
  entry: pnpm biome check --apply
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check
  entry: pnpm typecheck
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo Format
  entry: pnpm rust:fmt
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy
  entry: pnpm rust:clippy
  language: system
  pass_filenames: false
  args:
  - --
  - -D
  - warnings

lexicon-validate:
  name: Validate Lexicons
  entry: pnpm lex:validate
  language: system
  pass_filenames: false

lexicon-generate:
  name: Generate Lexicons (files ignored by .gitignore)
  entry: pnpm lex:gen-server
  language: system
  pass_filenames: false
  always_run: false

no-console-log:
  name: Check for console.log
  entry: bash -c 'if grep -r "console\.log" --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" .; then echo "Found console.log statements. Please remove them."; exit 1; fi'
  language: system
  pass_filenames: false

check-todos:
  name: Check for TODO/FIXME
  entry: bash -c 'if grep -r -i "TODO\|FIXME" --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" --include="*.rs" .; then echo "Found TODO/FIXME comments. Consider addressing them."; fi'
  language: system
  pass_filenames: false
  verbose: true

fix(status): use generated status API types
  Cargo.lock
  apps/status/Cargo.toml
  apps/status/src/api.rs
Due: cargo-fmt, cargo-clippy, check-todos

fix(status): commit only the API error-boundary refactor
  apps/status/src/api.rs
Due: cargo-fmt, cargo-clippy, check-todos

fix(status): preserve replay commit cid
  Cargo.lock
  apps/status/Cargo.toml
  apps/status/src/replay.rs
Due: cargo-fmt, cargo-clippy, check-todos

fix(status): configure container database URL
  compose.yaml
Due: prettier

perf(status): bound replay zstd decoding
  apps/status/src/replay.rs
Due: cargo-fmt, cargo-clippy, check-todos

format refactor(status): name replay archive layout constants
  apps/status/src/replay.rs
Due: cargo-fmt, cargo-clippy, check-todos

fix(status): recover stale Jetstream cursors
  .sqlx/query-b5ca6d723a0995d8b0c1558b00b475bd5ba73b60dd3f634e51a970a8f74e25e4.json
  apps/status/src/db.rs
  apps/status/src/jetstream.rs
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix(cadet): refresh deferred play counts periodically
  .env.template
  .github/workflows/cadet-refresh.yml
  .sqlx/query-04d13d63aa7a9dbadb97ba2a88b7f09df6e1d9c0db1daeac2589ad8f5b886829.json
  .sqlx/query-055e387969075a71392a3bb9bbc79848bb1113ee56a43b11d462920ddaf49ab2.json
  .sqlx/query-0e48aea034e76c5e84782f91258e95446b06e6c275f0f771cc4f8f786bc1ae6a.json
  .sqlx/query-34b95188bfec272dc0d5b1b3575de85237ce443e902b93c3a55a4bdb3a3ce2df.json
  .sqlx/query-39de2e33fc1af5b5afa6c44dfa9e2a5f9514310df31c5466ed5ec7c064664165.json
  .sqlx/query-6c26287818c224db101b5055fdf057a8daa11ba7fc5fff6ba56d4d18ea071ca6.json
  .sqlx/query-77e082bf369a1a104d22f2bf82b3bb7aada3c4b9ecd4402957b9729fa08abce2.json
  .sqlx/query-a499e543c456ece4e9982dcd634294e1549c5806ac1fad749736d85bcb6f06dc.json
  .sqlx/query-a657cb05bc28dda116d83c7b49d4ff9e5a6d08a6846e30c12bdd61fdf18cef44.json
  .sqlx/query-ab343cd6bc4460eb1cdd6a165f1ce65036353e123c541d19f128c30b83629984.json
  .sqlx/query-bdea65672a1680afceb947a6be851bc638fa08e89f9a11fa4201b136080a5333.json
  .sqlx/query-daff61f2197be84564e93823a0d416993a511f057eada3ceef6f7843a54d5b18.json
  .sqlx/query-e0abbf4c358b7772e978ffb98f4579552867d37b6bdea173ff8a232886c6bce2.json
  .sqlx/query-e41db691b86072487db59d09a8acfecda99d6e9bd333f50130eb549440d2348a.json
  .sqlx/query-e88b75ce0fd952ef5ea89b3e628a4f502179045c35216f40868f84f4b4b0a0c7.json
  .sqlx/query-fab6ec3a4228758111df73ece82aa7d8868c009f7035670be3b7008dd9de786b.json
  .sqlx/query-fcbdd56968bd2cf5fe2e7e5a6540e6d2f7fb2607868c0332bc912a73fd01e230.json
  .sqlx/query-fd4478e6d5462a32df8ad52e3008539cf05c077440ef18541198c20a3674d120.json
  compose.dev.yml
  compose.yaml
  migrations/20241220000002_car_import_tables.sql
  services/cadet/src/lib.rs
  services/cadet/src/main.rs
  services/cadet/src/refresh.rs
  services/cadet/tests/materialized_view_refresh.rs
  services/types/Cargo.toml
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix(amethyst): wait for OAuth session restoration after reload
  apps/amethyst/lib/__tests__/authPersistence.test.ts
  apps/amethyst/lib/authPersistence.ts
  apps/amethyst/stores/mainStore.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(amethyst): bound manual-listen MusicBrainz requests
  apps/amethyst/lib/__tests__/manualListenRequests.test.ts
  apps/amethyst/lib/manualListens.ts
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

docs: record completed OAuth and manual-listen preview QA
  todo.md
Due: prettier

docs(dev): record Tailscale preview URL
  todo.md
Due: prettier

fix(amethyst): refine sidebar controls
  apps/amethyst/components/teal/TealShell.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

chore(dev): run local stack in watch mode
  README.md
  apps/amethyst/package.json
  package.json
  scripts/dev-local.sh
  scripts/dev-proxy.mjs
  services/cadet/package.json
  todo.md
Due: prettier

fix(dev): serve watch stack through public Sigilyph tunnel
  AGENTS.md
  README.md
  apps/aqua/package.json
  compose.watch.yml
  docs/development-oauth-tunnel.md
  package.json
  scripts/Caddyfile.dev
  scripts/dev-local.sh
  scripts/dev-proxy.mjs
  scripts/dev-rust.sh
  services/cadet/package.json
  services/satellite/package.json
  todo.md
Due: prettier

fix(dev): keep pnpm dev local and gate public tunnel behind --proxy
  AGENTS.md
  README.md
  compose.watch.yml
  docs/development-oauth-tunnel.md
  package.json
  scripts/dev-local.sh
  todo.md
Due: prettier

fix(aqua): stop panicking on invalid profile handles
  apps/aqua/src/repos/mod.rs
Due: cargo-fmt, cargo-clippy, check-todos

fix(music): complete album tracklists and canonical cover art
  apps/amethyst/app/(tabs)/:o/music/[artist]/[release]/index.tsx
  apps/amethyst/lib/teal/api.ts
  apps/aqua/src/repos/music.rs
  lexicons/fm.teal/music/defs.json
  packages/lexicons/src/lexicons.ts
  packages/lexicons/src/types/fm/teal/music/defs.ts
  services/types/src/fm_teal/music.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

fix(music): use release-group cover art on artist pages and listen cards
  apps/amethyst/app/(tabs)/:o/music/[artist]/[release]/index.tsx
  apps/amethyst/app/(tabs)/:o/music/[artist]/index.tsx
  apps/amethyst/app/(tabs)/:o/music/[artist]/listeners.tsx
  apps/amethyst/components/teal/PlayFeedCard.tsx
  apps/amethyst/lib/teal/api.ts
  apps/aqua/src/repos/music.rs
  lexicons/fm.teal/music/defs.json
  packages/lexicons/src/lexicons.ts
  packages/lexicons/src/types/fm/teal/music/defs.ts
  services/types/src/fm_teal/music.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

docs(dev): record active public preview
  todo.md
Due: prettier

feat(amethyst): add top albums chart
  apps/amethyst/app/(tabs)/profile/[handle]/topster.tsx
  apps/amethyst/components/teal/ProfileStats.tsx
  apps/amethyst/lib/teal/topsterExport.web.ts
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

docs: link stacked top albums PR
  todo.md
Due: prettier

docs(dev): record top albums tunnel preview
  todo.md
Due: prettier

fix(stats): build top albums from repository plays
  Cargo.lock
  apps/amethyst/app/(tabs)/profile/[handle]/topster.tsx
  apps/amethyst/lib/teal/api.ts
  apps/aqua/Cargo.toml
  apps/aqua/src/xrpc/stats.rs
  apps/aqua/src/xrpc/stats/repo_chart.rs
  lexicons/fm.teal/stats/getRepoTopReleases.json
  packages/lexicons/src/index.ts
  packages/lexicons/src/lexicons.ts
  packages/lexicons/src/types/fm/teal/stats/getRepoTopReleases.ts
  services/types/src/fm_teal/stats.rs
  services/types/src/fm_teal/stats/get_repo_top_releases.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

docs(dev): record verified CAR chart preview
  todo.md
Due: prettier

docs: simplify TODO handoff guidance
  AGENTS.md
  todo.md
Due: prettier

fix(ci): validate images across stacked pull requests
  .github/workflows/aqua.yml
  .github/workflows/cadet.yml
Due: prettier

fix(aqua): match typographic quotes in album tracklists
  apps/aqua/src/repos/music.rs
Due: cargo-fmt, cargo-clippy, check-todos

fix(lexicons): lock generator transitive dependencies
  apps/aqua/Dockerfile
  services/cadet/Dockerfile
  tools/lexicon-cli/src/commands/generate.ts
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(aqua): cache canonical release groups for listen cover art
  apps/amethyst/jest.lib.config.ts
  apps/amethyst/lib/__tests__/releaseGroupCoverArt.test.ts
  apps/amethyst/lib/teal/api.ts
  apps/aqua/src/repos/music.rs
  apps/aqua/src/repos/music/cache.rs
  apps/aqua/src/repos/pg.rs
  apps/aqua/src/xrpc/music.rs
  lexicons/fm.teal/music/getReleaseGroup.json
  packages/lexicons/src/index.ts
  packages/lexicons/src/lexicons.ts
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

fix(aqua): normalize profile status record tags
  apps/aqua/src/repos/actor_profile.rs
Due: cargo-fmt, cargo-clippy, check-todos

fix(aqua): serialize play artist identifiers as valid URIs
  apps/aqua/src/repos/feed_play.rs
  apps/aqua/src/repos/mod.rs
  apps/aqua/src/repos/music.rs
  apps/aqua/src/repos/stats.rs
Due: cargo-fmt, cargo-clippy, check-todos

fix(aqua): normalize legacy music service domains in play views
  apps/aqua/src/repos/feed_play.rs
  apps/aqua/src/repos/mod.rs
  apps/aqua/src/repos/music.rs
  apps/aqua/src/repos/stats.rs
Due: cargo-fmt, cargo-clippy, check-todos

Path conditions:
  prettier: any of: \.(ts|tsx|js|jsx|json|md|yaml|yml)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  biome-check: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  cargo-fmt: any of: \.rs$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  lexicon-validate: any of: lexicons/.*\.json$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  lexicon-generate: any of: lexicons/.*\.json$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  no-console-log: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  check-todos: any of: \.(ts|tsx|js|jsx|rs)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

