Repository teal-fm/teal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

prettier:
  name: Prettier
  entry: pnpm prettier --write
  language: system
  pass_filenames: true

biome-check:
  name: Biome Check
  entry: pnpm biome check --apply
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check
  entry: pnpm typecheck
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo Format
  entry: pnpm rust:fmt
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy
  entry: pnpm rust:clippy
  language: system
  pass_filenames: false
  args:
  - --
  - -D
  - warnings

lexicon-validate:
  name: Validate Lexicons
  entry: pnpm lex:validate
  language: system
  pass_filenames: false

lexicon-generate:
  name: Generate Lexicons (files ignored by .gitignore)
  entry: pnpm lex:gen-server
  language: system
  pass_filenames: false
  always_run: false

no-console-log:
  name: Check for console.log
  entry: bash -c 'if grep -r "console\.log" --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" .; then echo "Found console.log statements. Please remove them."; exit 1; fi'
  language: system
  pass_filenames: false

check-todos:
  name: Check for TODO/FIXME
  entry: bash -c 'if grep -r -i "TODO\|FIXME" --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" --include="*.rs" .; then echo "Found TODO/FIXME comments. Consider addressing them."; fi'
  language: system
  pass_filenames: false
  verbose: true

fix(aqua): replace broken external types with local type definitions
  .pre-commit-config.yaml
  Cargo.lock
  apps/aqua/Cargo.toml
  apps/aqua/src/api/mod.rs
  apps/aqua/src/main.rs
  apps/aqua/src/redis_client.rs
  apps/aqua/src/repos/actor_profile.rs
  apps/aqua/src/repos/feed_play.rs
  apps/aqua/src/repos/mod.rs
  apps/aqua/src/repos/stats.rs
  apps/aqua/src/types/jobs.rs
  apps/aqua/src/types/lexicon.rs
  apps/aqua/src/types/mod.rs
  apps/aqua/src/xrpc/actor.rs
  apps/aqua/src/xrpc/feed.rs
  apps/aqua/src/xrpc/stats.rs
  docs/aqua-types-refactor.md
  docs/biome-clippy-integration.md
  lexicons/fm.teal.alpha/actor/defs.json
  package.json
  scripts/pre-commit-hook.sh
  services/Cargo.lock
  services/Cargo.toml
  services/cadet/src/ingestors/car/mod.rs
  services/cadet/src/ingestors/mod.rs
  services/cadet/src/ingestors/teal/actor_status.rs
  services/cadet/src/main.rs
  services/cadet/src/redis_client.rs
  services/rocketman/examples/spew-bsky-posts.rs
  services/rocketman/src/handler.rs
Due: prettier, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, check-todos

fix ci issues
  .github/workflows/aqua.yml
  .github/workflows/services.yml
  packages/lexicons/lex-gen.sh
  packages/lexicons/package.json
  services/cadet/target.sh
Due: prettier, lexicon-validate, lexicon-generate

i love ci
  apps/aqua/Dockerfile
  apps/aqua/target.sh
  services/cadet/Dockerfile
Due: none

please work please work ci please
  .dockerignore
  .github/workflows/amethyst.yml
  .github/workflows/aqua.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  apps/aqua/Dockerfile
  lexicons/app
  lexicons/chat
  lexicons/com
  lexicons/tools
  services/cadet/Dockerfile
  services/migrations/20241220000001_initial_schema.sql
  services/migrations/20241220000002_car_import_tables.sql
  services/migrations/20241220000003_artists_without_mbids.sql
  services/migrations/20241220000004_synthetic_mbids.sql
  services/migrations/20241220000005_fuzzy_matching.sql
  services/migrations/20241220000006_discriminant_fields.sql
  services/migrations/20241220000007_enhanced_discriminant_extraction.sql
  services/migrations/20241220000008_fix_discriminant_case_sensitivity.sql
  target.sh
Due: prettier

hm ci again
  services/cadet/Dockerfile
Due: none

ci bad
  .github/workflows/cadet.yml
Due: prettier

more ci???
  .dockerignore
  apps/aqua/Dockerfile
  services/cadet/Dockerfile
Due: none

i love ci
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  services/cadet/Dockerfile
Due: prettier

hrmmmmmmmmmm
  services/cadet/Dockerfile
Due: none

lettuce see
  apps/aqua/Dockerfile
  services/cadet/Dockerfile
Due: none

Refactor lexicon generation with improved error handling
  tools/lexicon-cli/src/commands/generate.ts
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

will it build
  services/cadet/Dockerfile
Due: none

ifUpdate Dockerfiles for ARM64 cross-compilation
  apps/aqua/Dockerfile
  services/cadet/Dockerfile
Due: none

try fixing security
  .github/actions/setup/action.yml
  .github/workflows/amethyst.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: prettier

try amethyst w/o explicit lex build
  apps/amethyst/Dockerfile
Due: none

hrmm does this work
  apps/amethyst/Dockerfile
Due: none

Build lexicon-cli tool in workflow
  .github/workflows/amethyst.yml
Due: prettier

Refactor action.yml for better readability
  .github/actions/setup/action.yml
Due: prettier

Fix CI commands to run from root
  .github/workflows/ci.yml
Due: prettier

ci workaround?
  .github/workflows/ci.yml
Due: prettier

build all rust at once
  .github/workflows/ci.yml
Due: prettier

add mooover ci script
  .github/workflows/ci.yml
  scripts/setup-sqlx-offline.sh
Due: prettier

will cargo cross work
  .github/SQLX_AND_CROSS_COMPILATION.md
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Cross.toml
  apps/aqua/Cross.toml
  services/Cargo.lock
  services/Cargo.toml
  services/Cross.toml
Due: prettier

add stuff we prob need
  .github/SQLX_AND_CROSS_COMPILATION.md
  Cargo.toml
Due: prettier

Add CROSS_NO_WARNINGS for cross-compilation
  .github/workflows/ci.yml
  Cross.toml
Due: prettier

remove rocketman (switch to crate)
  .github/workflows/security.yml
  Cargo.lock
  Cargo.toml
  compose.db-test.yml
  services/Cargo.toml
  services/rocketman/Cargo.toml
  services/rocketman/examples/spew-bsky-posts.rs
  services/rocketman/package.json
  services/rocketman/readme.md
  services/rocketman/src/connection.rs
  services/rocketman/src/endpoints.rs
  services/rocketman/src/err.rs
  services/rocketman/src/handler.rs
  services/rocketman/src/ingestion.rs
  services/rocketman/src/lib.rs
  services/rocketman/src/options.rs
  services/rocketman/src/time/mod.rs
  services/rocketman/src/time/system_time.rs
  services/rocketman/src/types/event.rs
  services/rocketman/src/types/mod.rs
  services/rocketman/zstd/dictionary
Due: prettier, cargo-fmt, cargo-clippy, check-todos

clean up
  .github/SQLX_AND_CROSS_COMPILATION.md
  docs/migration-troubleshooting.md
Due: prettier

disable dependabot (sorry !)
  .github/dependabot.yml
Due: prettier

fix misc thingies
  .env.template
  .gitignore
  .vscode/settings.json
  tools/teal-cli/src/main.rs
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix cargo security audit
  .github/workflows/ci.yml
Due: prettier

formatting is getting in the way of autogenned content
  .github/workflows/ci.yml
Due: prettier

exclude types again
  .github/workflows/ci.yml
Due: prettier

lint
  services/cadet/src/ingestors/car/car_import.rs
Due: cargo-fmt, cargo-clippy, check-todos

whoops
  .github/workflows/ci.yml
Due: prettier

peter griffin
  .github/workflows/ci.yml
Due: prettier

stewieeee
  Cargo.toml
Due: none

just disable it
  .github/workflows/ci.yml
Due: prettier

update pnpm lock
  pnpm-lock.yaml
Due: prettier

Path conditions:
  prettier: any of: \.(ts|tsx|js|jsx|json|md|yaml|yml)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  biome-check: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  cargo-fmt: any of: \.rs$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  lexicon-validate: any of: lexicons/.*\.json$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  lexicon-generate: any of: lexicons/.*\.json$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  no-console-log: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  check-todos: any of: \.(ts|tsx|js|jsx|rs)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

