Repository teal-fm/teal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

.pre-commit-config.yaml:

# Pre-commit configuration for Teal project
# Install with: pip install pre-commit && pre-commit install
# Run manually with: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: mixed-line-ending
        args: ["--fix=lf"]

  # TypeScript/JavaScript formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: pnpm prettier --write
        language: system
        files: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
        pass_filenames: true

      - id: biome-check
        name: Biome Check
        entry: pnpm biome check --apply
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check
        entry: pnpm typecheck
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: pnpm rust:fmt
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo Clippy
        entry: pnpm rust:clippy
        language: system
        files: \.rs$
        pass_filenames: false
        args: ["--", "-D", "warnings"]

  # Lexicon validation and generation
  - repo: local
    hooks:
      - id: lexicon-validate
        name: Validate Lexicons
        entry: pnpm lex:validate
        language: system
        files: lexicons/.*\.json$
        pass_filenames: false

      - id: lexicon-generate
        name: Generate Lexicons (files ignored by .gitignore)
        entry: pnpm lex:gen-server
        language: system
        files: lexicons/.*\.json$
        pass_filenames: false
        always_run: false

  # Optional: Additional checks
  - repo: local
    hooks:
      - id: no-console-log
        name: Check for console.log
        entry: bash -c 'if grep -r "console\.log" --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" .; then echo "Found console.log statements. Please remove them."; exit 1; fi'
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: check-todos
        name: Check for TODO/FIXME
        entry: bash -c 'if grep -r -i "TODO\|FIXME" --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" --include="*.rs" .; then echo "Found TODO/FIXME comments. Consider addressing them."; fi'
        language: system
        files: \.(ts|tsx|js|jsx|rs)$
        pass_filenames: false
        verbose: true

# Global settings
default_language_version:
  node: system
  python: python3

# Skip certain hooks for specific file patterns
exclude: |
  (?x)^(
    vendor/.*|
    node_modules/.*|
    target/.*|
    .git/.*|
    .*\.lock$
  )$

feat(amethyst): publish social replies
  apps/amethyst/components/teal/SocialComposer.tsx
  apps/amethyst/components/teal/SocialPostCard.tsx
  apps/amethyst/lib/teal/api.ts
  apps/aqua/src/repos/social.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

feat(amethyst): add playlist views
  apps/amethyst/app/(tabs)/playlist/[name].tsx
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/components/teal/PlaylistControls.tsx
  apps/amethyst/lib/teal/api.ts
  apps/amethyst/lib/teal/routes.ts
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

feat(amethyst): manage playlist metadata
  apps/amethyst/app/(tabs)/playlist/[name].tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

feat(amethyst): manage profile badges
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/components/teal/BadgeManager.tsx
  apps/amethyst/lib/teal/api.ts
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

feat(amethyst): complete rich status surfaces
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/app/(tabs)/playlist/[name].tsx
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/components/teal/BadgeManager.tsx
  apps/amethyst/components/teal/PlaylistControls.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

test(social): verify new lexicon flows
  .sqlx/query-3c1690ead831005f4469309ec6b8bdbb519f5cb2f21131635aa68ca523611a3d.json
  .sqlx/query-78d9f0eb3a550928cccd0a8c0faf3c9176a354238bf32b97a73a7bb41014b5eb.json
  .sqlx/query-8758f5bb57feedca6cd65831f36aabc811e8b7072dc6bdbfd4a49242e5d7c946.json
  .sqlx/query-9bac472357fa38a6e3bb38d02ebb56a6e11c85d4aff91096f8ea68f1196e8bd3.json
  .sqlx/query-af5c1fdabaee1cbc49f89d1df92e13cbb4a0837e3c644de9c7cf8e33e170d2e3.json
  .sqlx/query-b4e829c20bb78b9db20eccd9827e0d2f7bdbeedbaa39f6b40d1ae8a1045d6837.json
  apps/amethyst/lib/__tests__/tealSocial.test.ts
  package.json
  services/cadet/src/ingestors/teal/social.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

style(cadet): apply rustfmt
  services/cadet/src/ingestors/car/car_import.rs
  services/cadet/src/ingestors/teal/feed_play.rs
Due: cargo-fmt, cargo-clippy, check-todos

docs(deploy): record cloudflare preview
  todo.md
Due: prettier

feat(amethyst): add social post creation modal
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/components/teal/CreateSocialPostModal.tsx
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

docs(todo): note social composer flow
  todo.md
Due: prettier

feat(amethyst): add profile editing and actor resolution
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/app/(tabs)/search/index.tsx
  apps/amethyst/components/teal/EditProfileModal.tsx
  apps/amethyst/components/teal/PlayFeedCard.tsx
  apps/amethyst/components/teal/SocialPostCard.tsx
  apps/amethyst/lib/teal/actors.ts
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(amethyst): resolve music track slugs deterministically
  apps/amethyst/app/(tabs)/:o/music/[artist]/[release]/[track].tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

feat(cadet): add tap backfill command
  .gitignore
  docs/tap-backfill.md
  package.json
  scripts/backfill-tap.sh
  services/cadet/Cargo.toml
  services/cadet/src/bin/tap_backfill.rs
  services/cadet/src/lib.rs
  services/cadet/src/main.rs
  services/cadet/src/teal_ingestors.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix(cadet): use tap signal collection for backfill
  docs/tap-backfill.md
  scripts/backfill-tap.sh
  todo.md
Due: prettier

fix(cadet): default tap backfill to full network
  docs/tap-backfill.md
  scripts/backfill-tap.sh
  todo.md
Due: prettier

chore: symlink claude instructions to agents
  claude.md
Due: prettier

fix(cadet): default tap backfill to teal signal
  docs/tap-backfill.md
  scripts/backfill-tap.sh
  todo.md
Due: prettier

fix(cadet): normalize legacy play mbids during backfill
  docs/tap-backfill.md
  services/cadet/src/ingestors/teal/feed_play.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix(amethyst): simplify profile listening status
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

docs: require pushing checkpoint commits
  AGENTS.md
Due: prettier

fix(amethyst): simplify social composer flow
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/components/teal/CreateSocialPostModal.tsx
  apps/amethyst/components/teal/SocialComposer.tsx
  apps/amethyst/components/teal/TealShell.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(cadet): index identity handle changes
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/aqua/src/repos/actor_profile.rs
  services/cadet/src/identity.rs
  services/cadet/src/lib.rs
  services/cadet/src/main.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

fix(amethyst): hide profile protocol internals
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

docs: update public preview handoff
  .gitignore
  todo.md
Due: prettier

docs: note docker preview data source
  todo.md
Due: prettier

chore(dev): add stable cloudflare tunnel workflow
  apps/amethyst/Caddyfile
  apps/amethyst/Dockerfile
  apps/amethyst/package.json
  apps/aqua/Dockerfile
  docs/development-oauth-tunnel.md
  package.json
  packages/lexicons/lex-gen.sh
  scripts/dev-tunnel.sh
  services/cadet/Dockerfile
  todo.md
Due: prettier

chore(deps): update pnpm to 11.5.2
  apps/aqua/Dockerfile
  apps/aqua/package.json
  package.json
  services/cadet/Dockerfile
  services/cadet/package.json
  services/satellite/package.json
Due: prettier

feat(amethyst): merge posts into home feed
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/components/teal/SocialPostCard.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(aqua): order latest plays by play time
  .sqlx/query-08d7e90ffe9e5f00af9c6ae3bf75fbab48ea77fc306c49f3d9a28d7188d0c7de.json
  apps/aqua/Dockerfile
  apps/aqua/src/repos/stats.rs
  services/cadet/Dockerfile
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

feat(amethyst): split home feed tabs
  apps/amethyst/app/(tabs)/index.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

style(amethyst): align app with teal landing brand
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/app/_layout.tsx
  apps/amethyst/components/teal/PlayFeedCard.tsx
  apps/amethyst/components/teal/RightRail.tsx
  apps/amethyst/components/teal/SocialComposer.tsx
  apps/amethyst/components/teal/SocialPostCard.tsx
  apps/amethyst/components/teal/TealShell.tsx
  apps/amethyst/global.css
  apps/amethyst/tailwind.config.js
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

chore(amethyst): update preview disclaimer copy
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/app/(tabs)/notifications.tsx
  apps/amethyst/components/teal/TealShell.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(profile): show statuses for bluesky fallbacks
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/aqua/src/repos/actor_profile.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

feat(amethyst): add listen permalink pages
  apps/amethyst/app/(tabs)/_layout.tsx
  apps/amethyst/app/(tabs)/listen/[did]/[rkey].tsx
  apps/amethyst/components/teal/PlayFeedCard.tsx
  apps/amethyst/lib/teal/api.ts
  apps/amethyst/lib/teal/routes.ts
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

feat(graph): index teal follows
  apps/aqua/src/main.rs
  apps/aqua/src/repos/graph.rs
  apps/aqua/src/repos/mod.rs
  apps/aqua/src/xrpc/graph.rs
  apps/aqua/src/xrpc/mod.rs
  lexicons/fm.teal.alpha/graph/follow.json
  lexicons/fm.teal.alpha/graph/getFollowers.json
  lexicons/fm.teal.alpha/graph/getFollows.json
  lexicons/fm.teal.alpha/graph/getSummary.json
  migrations/20241220000011_social_graph_follows.sql
  packages/lexicons/src/index.ts
  packages/lexicons/src/lexicons.ts
  packages/lexicons/src/types/fm/teal/alpha/graph/follow.ts
  packages/lexicons/src/types/fm/teal/alpha/graph/getFollowers.ts
  packages/lexicons/src/types/fm/teal/alpha/graph/getFollows.ts
  packages/lexicons/src/types/fm/teal/alpha/graph/getSummary.ts
  services/cadet/src/ingestors/car/car_import.rs
  services/cadet/src/ingestors/teal/social.rs
  services/cadet/src/main.rs
  services/cadet/src/teal_ingestors.rs
  services/types/src/fm_teal/alpha.rs
  services/types/src/fm_teal/alpha/graph/follow.rs
  services/types/src/fm_teal/alpha/graph/get_followers.rs
  services/types/src/fm_teal/alpha/graph/get_follows.rs
  services/types/src/fm_teal/alpha/graph/get_summary.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

feat(amethyst): add profile follow controls
  .dockerignore
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/lib/teal/api.ts
  apps/aqua/Dockerfile
  scripts/setup-lexicons.sh
  services/cadet/Dockerfile
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

docs(todo): track current social fixes
  todo.md
Due: prettier

feat(social): add post permalinks and viewer state
  apps/amethyst/app/(tabs)/_layout.tsx
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/app/(tabs)/post/[did]/[rkey].tsx
  apps/amethyst/components/teal/SocialPostCard.tsx
  apps/amethyst/components/teal/TealShell.tsx
  apps/amethyst/lib/teal/api.ts
  apps/amethyst/lib/teal/routes.ts
  apps/amethyst/stores/authenticationSlice.tsx
  apps/aqua/src/repos/social.rs
  apps/aqua/src/xrpc/social.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

feat(amethyst): resolve at-uri routes
  apps/amethyst/app/(tabs)/_layout.tsx
  apps/amethyst/app/(tabs)/at:/[...uri].tsx
  apps/amethyst/lib/teal/routes.ts
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos
