Repository teal-fm/teal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

prettier:
  name: Prettier
  entry: pnpm prettier --write
  language: system
  pass_filenames: true

biome-check:
  name: Biome Check
  entry: pnpm biome check --apply
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check
  entry: pnpm typecheck
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo Format
  entry: pnpm rust:fmt
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy
  entry: pnpm rust:clippy
  language: system
  pass_filenames: false
  args:
  - --
  - -D
  - warnings

lexicon-validate:
  name: Validate Lexicons
  entry: pnpm lex:validate
  language: system
  pass_filenames: false

lexicon-generate:
  name: Generate Lexicons (files ignored by .gitignore)
  entry: pnpm lex:gen-server
  language: system
  pass_filenames: false
  always_run: false

no-console-log:
  name: Check for console.log
  entry: bash -c 'if grep -r "console\.log" --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" .; then echo "Found console.log statements. Please remove them."; exit 1; fi'
  language: system
  pass_filenames: false

check-todos:
  name: Check for TODO/FIXME
  entry: bash -c 'if grep -r -i "TODO\|FIXME" --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" --include="*.rs" .; then echo "Found TODO/FIXME comments. Consider addressing them."; fi'
  language: system
  pass_filenames: false
  verbose: true

fix(amethyst): recover encoded at-uri links
  apps/amethyst/app/(tabs)/at:/[...uri].tsx
  apps/amethyst/app/+not-found.tsx
  apps/amethyst/lib/teal/routes.ts
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

chore(preview): record restored cloudflare preview
  todo.md
Due: prettier

feat(music): add artist listener leaderboard
  apps/amethyst/app/(tabs)/:o/music/[artist]/index.tsx
  apps/amethyst/app/(tabs)/:o/music/[artist]/listeners.tsx
  apps/amethyst/components/teal/ArtistLeaderboard.tsx
  apps/amethyst/lib/teal/api.ts
  apps/amethyst/lib/teal/routes.ts
  apps/aqua/src/repos/music.rs
  apps/aqua/src/xrpc/music.rs
  lexicons/fm.teal.alpha/music/defs.json
  lexicons/fm.teal.alpha/music/getArtistListeners.json
  migrations/20241220000012_artist_listener_leaderboard_index.sql
  packages/lexicons/src/index.ts
  packages/lexicons/src/lexicons.ts
  packages/lexicons/src/types/fm/teal/alpha/music/defs.ts
  packages/lexicons/src/types/fm/teal/alpha/music/getArtistListeners.ts
  services/types/src/fm_teal/alpha/music.rs
  services/types/src/fm_teal/alpha/music/get_artist_listeners.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

docs(todo): mark artist leaderboard preview verified
  todo.md
Due: prettier

feat(profile): add listening stats
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/app/(tabs)/profile/[handle]/stats/[kind].tsx
  apps/amethyst/components/teal/EditProfileModal.tsx
  apps/amethyst/components/teal/ProfileStats.tsx
  apps/amethyst/lib/teal/api.ts
  apps/aqua/src/repos/actor_profile.rs
  apps/aqua/src/repos/stats.rs
  apps/aqua/src/xrpc/stats.rs
  lexicons/fm.teal.alpha/actor/defs.json
  lexicons/fm.teal.alpha/actor/profile.json
  lexicons/fm.teal.alpha/stats/getUserTopArtists.json
  lexicons/fm.teal.alpha/stats/getUserTopRecordings.json
  migrations/20241220000013_profile_stats.sql
  packages/lexicons/src/index.ts
  packages/lexicons/src/lexicons.ts
  packages/lexicons/src/types/fm/teal/alpha/actor/defs.ts
  packages/lexicons/src/types/fm/teal/alpha/actor/profile.ts
  packages/lexicons/src/types/fm/teal/alpha/stats/getUserTopArtists.ts
  packages/lexicons/src/types/fm/teal/alpha/stats/getUserTopRecordings.ts
  services/cadet/sql/base.sql
  services/cadet/src/ingestors/teal/actor_profile.rs
  services/types/src/fm_teal/alpha/actor.rs
  services/types/src/fm_teal/alpha/actor/profile.rs
  services/types/src/fm_teal/alpha/stats.rs
  services/types/src/fm_teal/alpha/stats/get_user_top_recordings.rs
  services/types/src/fm_teal/alpha/stats/get_user_top_releases.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

fix(cadet): deduplicate plays and prevent future duplicates
  .sqlx/query-41ef76f85e8b2d37ff906c16973ce08c03219332c86d6f1b7bfa752f0d75275b.json
  .sqlx/query-504c321eec8f39add55b4baba18de9e4f0f4e43cebdf62bf010a8a9094decc50.json
  migrations/20241220000014_deduplicate_plays.sql
  services/cadet/src/ingestors/teal/feed_play.rs
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix(cadet): persist jetstream cursor so restarts resume ingestion
  compose.dev.yml
  compose.yaml
  services/cadet/Dockerfile
  services/cadet/src/cursor.rs
  services/cadet/src/main.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix(cadet): keep name-only artists synthetic
  services/cadet/src/ingestors/teal/feed_play.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix(cadet): add lightrail backfill
  package.json
  services/cadet/Cargo.toml
  services/cadet/src/bin/lightrail_backfill.rs
  services/cadet/src/ingestors/car/car_import.rs
  services/cadet/src/ingestors/teal/feed_play.rs
Due: prettier, cargo-fmt, cargo-clippy, check-todos

chore: ignore lightrail backfill state
  .gitignore
Due: none

fix(ci): restore generated graph module
  .github/actions/setup/action.yml
  services/types/src/fm_teal/alpha/graph.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix(ci): approve pnpm build scripts
  pnpm-workspace.yaml
  todo.md
Due: prettier

fix(ci): use pnpm allowBuilds config
  pnpm-workspace.yaml
Due: prettier

fix(amethyst): resolve jest from package bin
  apps/amethyst/package.json
  todo.md
Due: prettier

fix(cadet): support did web lightrail retries
  docs/tap-backfill.md
  package.json
  services/cadet/src/bin/lightrail_backfill.rs
  services/cadet/src/ingestors/car/car_import.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix(aqua): speed up latest feed pagination
  .sqlx/query-b23dc54aec3e2bee85f1e5874df7ad4cbaeb15ca043b244bbce224dfc26d8b56.json
  .sqlx/query-fd5f376dac5f38005efa3217c9614e377703c681e1510fc0c6539b1edee289b7.json
  .sqlx/query-ffe0c9d638664eefd0bed5d15d51428e167d7e765e274d9743672b36705e7950.json
  apps/aqua/src/repos/stats.rs
  migrations/20241220000015_feed_pagination_indexes.sql
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

feat(amethyst): show posts on profiles
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/lib/teal/api.ts
  apps/aqua/src/repos/social.rs
  apps/aqua/src/xrpc/social.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

fix(amethyst): avoid native prebuild on install
  apps/amethyst/package.json
  todo.md
Due: prettier

docs: record profile posts preview deploy
  todo.md
Due: prettier

docs(todo): sync open work from GitHub issues
  todo.md
Due: prettier

docs(todo): add Linear issue links
  todo.md
Due: prettier

feat(teal): complete account lifecycle and profile album todos
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  migrations/20241220000016_account_lifecycle.sql
  services/cadet/src/account.rs
  services/cadet/src/identity.rs
  services/cadet/src/lib.rs
  services/cadet/src/main.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

feat(amethyst): add scrobble editing flows
  apps/amethyst/app/(tabs)/listen/[did]/[rkey].tsx
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/lib/teal/playRecords.ts
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(amethyst): restore typecheck verification
  apps/amethyst/app/(tabs)/playlist/[name].tsx
  lexicons/fm.teal.alpha/actor/defs.json
  packages/lexicons/lex-gen.sh
  packages/lexicons/src/lexicons.ts
  packages/lexicons/src/types/fm/teal/alpha/actor/defs.ts
  todo.md
Due: prettier, biome-check, typescript-check, lexicon-validate, lexicon-generate, no-console-log, check-todos

chore: scope typecheck to typescript workspaces
  package.json
  todo.md
Due: prettier

chore: verify oauth tunnel metadata
  docs/development-oauth-tunnel.md
  scripts/dev-tunnel.sh
  todo.md
Due: prettier

docs: refine popfeed integration blocker
  todo.md
Due: prettier

docs: record oauth preflight qa
  todo.md
Due: prettier

feat(amethyst): add opt-in popfeed sync
  apps/amethyst/app/(tabs)/(stamp)/stamp/submit.tsx
  apps/amethyst/app/(tabs)/settings/index.tsx
  apps/amethyst/lib/__tests__/popfeed.test.ts
  apps/amethyst/lib/popfeed.ts
  apps/amethyst/stores/preferenceSlice.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

feat(amethyst): add popfeed recent play sync
  apps/amethyst/app/(tabs)/settings/index.tsx
  apps/amethyst/lib/__tests__/popfeed.test.ts
  apps/amethyst/lib/popfeed.ts
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

feat(amethyst): paginate popfeed recent sync
  apps/amethyst/app/(tabs)/settings/index.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

test(amethyst): cover popfeed paginated backfill
  apps/amethyst/app/(tabs)/settings/index.tsx
  apps/amethyst/lib/__tests__/popfeed.test.ts
  apps/amethyst/lib/popfeed.ts
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(amethyst): restore oauth clients from issuer
  apps/amethyst/lib/__tests__/oauthIssuer.test.ts
  apps/amethyst/lib/atp/oauthIssuer.ts
  apps/amethyst/stores/authenticationSlice.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(amethyst): enforce popfeed backfill cap
  apps/amethyst/lib/__tests__/popfeed.test.ts
  apps/amethyst/lib/popfeed.ts
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

docs: decide popfeed background sync path
  docs/popfeed-sync-decision.md
  todo.md
Due: prettier

docs(todo): remove popfeed from active branch
  todo.md
Due: prettier

Path conditions:
  prettier: any of: \.(ts|tsx|js|jsx|json|md|yaml|yml)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  biome-check: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  cargo-fmt: any of: \.rs$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  lexicon-validate: any of: lexicons/.*\.json$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  lexicon-generate: any of: lexicons/.*\.json$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  no-console-log: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

  check-todos: any of: \.(ts|tsx|js|jsx|rs)$, but not: (?x)^(
  vendor/.*|
  node_modules/.*|
  target/.*|
  .git/.*|
  .*\.lock$
)$

