Repository teal-fm/teal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

.pre-commit-config.yaml:

# Pre-commit configuration for Teal project
# Install with: pip install pre-commit && pre-commit install
# Run manually with: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: mixed-line-ending
        args: ["--fix=lf"]

  # TypeScript/JavaScript formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: pnpm prettier --write
        language: system
        files: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
        pass_filenames: true

      - id: biome-check
        name: Biome Check
        entry: pnpm biome check --apply
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check
        entry: pnpm typecheck
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: pnpm rust:fmt
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo Clippy
        entry: pnpm rust:clippy
        language: system
        files: \.rs$
        pass_filenames: false
        args: ["--", "-D", "warnings"]

  # Lexicon validation and generation
  - repo: local
    hooks:
      - id: lexicon-validate
        name: Validate Lexicons
        entry: pnpm lex:validate
        language: system
        files: lexicons/.*\.json$
        pass_filenames: false

      - id: lexicon-generate
        name: Generate Lexicons (files ignored by .gitignore)
        entry: pnpm lex:gen-server
        language: system
        files: lexicons/.*\.json$
        pass_filenames: false
        always_run: false

  # Optional: Additional checks
  - repo: local
    hooks:
      - id: no-console-log
        name: Check for console.log
        entry: bash -c 'if grep -r "console\.log" --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" .; then echo "Found console.log statements. Please remove them."; exit 1; fi'
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: check-todos
        name: Check for TODO/FIXME
        entry: bash -c 'if grep -r -i "TODO\|FIXME" --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" --include="*.rs" .; then echo "Found TODO/FIXME comments. Consider addressing them."; fi'
        language: system
        files: \.(ts|tsx|js|jsx|rs)$
        pass_filenames: false
        verbose: true

# Global settings
default_language_version:
  node: system
  python: python3

# Skip certain hooks for specific file patterns
exclude: |
  (?x)^(
    vendor/.*|
    node_modules/.*|
    target/.*|
    .git/.*|
    .*\.lock$
  )$

docs(preview): publish stable preview workflow
  AGENTS.md
  todo.md
Due: prettier

fix(services): harden resolver and query paths
  apps/aqua/src/api/mod.rs
  apps/aqua/src/db.rs
  apps/aqua/src/repos/feed_play.rs
  apps/aqua/src/xrpc/actor.rs
  services/cadet/src/bin/tap_backfill.rs
  services/cadet/src/db.rs
  services/cadet/src/ingestors/car/car_import.rs
  services/cadet/src/resolve.rs
  services/satellite/src/counts.rs
  services/satellite/src/db.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix(amethyst): harden feed loading and linting
  apps/amethyst/.eslintrc.js
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/app/_layout.tsx
  apps/amethyst/components/teal/RightRail.tsx
  apps/amethyst/eslint.config.js
  apps/amethyst/hooks/useOnEscape.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

feat(marketing): add Teal landing page
  apps/marketing/.gitignore
  apps/marketing/.openai/hosting.json
  apps/marketing/README.md
  apps/marketing/app/globals.css
  apps/marketing/app/layout.tsx
  apps/marketing/app/page.tsx
  apps/marketing/build/sites-vite-plugin.ts
  apps/marketing/eslint.config.mjs
  apps/marketing/next.config.ts
  apps/marketing/package.json
  apps/marketing/postcss.config.mjs
  apps/marketing/public/og.png
  apps/marketing/tests/rendered-html.test.mjs
  apps/marketing/tsconfig.json
  apps/marketing/vite.config.ts
  apps/marketing/worker/index.ts
  pnpm-workspace.yaml
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

docs: record marketing site preview
  todo.md
Due: prettier

lmao
  pnpm-lock.yaml
Due: prettier

fix(cadet): defer live materialized view refreshes
  compose.dev.yml
  todo.md
Due: prettier

fix(amethyst): link social posts to matching tracks
  apps/amethyst/app/(tabs)/:o/music/[artist]/[release]/[track].tsx
  apps/amethyst/components/teal/SocialPostCard.tsx
  apps/amethyst/lib/teal/routes.ts
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

docs(amethyst): record iOS simulator QA
  docs/ios-simulator-qa-2026-07-13.md
  todo.md
Due: prettier

Revert "feat(amethyst): manage profile badges"
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/components/teal/BadgeManager.tsx
  apps/amethyst/lib/teal/api.ts
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

Revert "feat(amethyst): show profile badges"
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/lib/teal/api.ts
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

Revert "feat(lexicons): finalize social badge records"
  lexicons/fm.teal.alpha/feed/social/badge.json
  lexicons/fm.teal.alpha/feed/social/badgeAssignment.json
  lexicons/fm.teal.alpha/feed/social/defs.json
  lexicons/fm.teal.alpha/feed/social/like.json
  lexicons/fm.teal.alpha/feed/social/playlist.json
  lexicons/fm.teal.alpha/feed/social/playlistItem.json
  lexicons/fm.teal.alpha/feed/social/post.json
  lexicons/fm.teal.alpha/feed/social/repost.json
Due: prettier, lexicon-validate, lexicon-generate

feat(amethyst): remove badge notifications
  apps/amethyst/app/(tabs)/notifications.tsx
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

Revert "feat(amethyst): remove badge notifications"
  apps/amethyst/app/(tabs)/notifications.tsx
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

Revert badge removal
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/components/teal/BadgeManager.tsx
  apps/amethyst/lib/teal/api.ts
  lexicons/fm.teal.alpha/feed/social/badge.json
  lexicons/fm.teal.alpha/feed/social/badgeAssignment.json
  lexicons/fm.teal.alpha/feed/social/defs.json
  lexicons/fm.teal.alpha/feed/social/like.json
  lexicons/fm.teal.alpha/feed/social/playlist.json
  lexicons/fm.teal.alpha/feed/social/playlistItem.json
  lexicons/fm.teal.alpha/feed/social/post.json
  lexicons/fm.teal.alpha/feed/social/repost.json
Due: prettier, biome-check, typescript-check, lexicon-validate, lexicon-generate, no-console-log, check-todos

fix(aqua): deduplicate album tracks
  .sqlx/query-50705a996b6048f8d9d145e27b34c62d8ead70b840deb29957ec60d2988b4ac9.json
  .sqlx/query-ff363fbb10f5c81d1ff61629724b4a1edce78892e26b82f3b295c3120ca0411d.json
  apps/aqua/src/repos/music.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

fix(aqua): merge duplicate artist albums
  .sqlx/query-8cb46e2270b1ce1f6b85ac3d35f9fa484c12e0fa5693d5f37a0f169189c3c4e7.json
  .sqlx/query-abe60b617d4cd5861a4a8f80755adb8946f3df1bf85b8a7dc3b7c6f2b5733e6d.json
  apps/aqua/src/repos/music.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

feat(music): automate catalog normalization
  apps/amethyst/app/(tabs)/:o/music/[artist]/index.tsx
  apps/aqua/src/repos/music.rs
  lexicons/fm.teal.alpha/music/defs.json
  packages/lexicons/src/types/fm/teal/alpha/music/defs.ts
  services/cadet/src/main.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

fix(amethyst): link notifications to posts
  apps/amethyst/app/(tabs)/notifications.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

refactor(lexicons): adopt atproto lex validation
  README.md
  apps/amethyst/package.json
  lexicons/fm.teal.alpha/feed/social/playlistItem.json
  package.json
  packages/lexicons/lex-gen.sh
  packages/lexicons/lex-validate.sh
  packages/lexicons/package.json
  packages/lexicons/src/lexicons.ts
  packages/lexicons/src/types/fm/teal/alpha/feed/social/badge.ts
  packages/lexicons/src/types/fm/teal/alpha/feed/social/badgeAssignment.ts
  packages/lexicons/src/types/fm/teal/alpha/feed/social/defs.ts
  packages/lexicons/src/types/fm/teal/alpha/feed/social/like.ts
  packages/lexicons/src/types/fm/teal/alpha/feed/social/playlist.ts
  packages/lexicons/src/types/fm/teal/alpha/feed/social/playlistItem.ts
  packages/lexicons/src/types/fm/teal/alpha/feed/social/post.ts
  packages/lexicons/src/types/fm/teal/alpha/feed/social/repost.ts
  pnpm-lock.yaml
  todo.md
  tools/lexicon-cli/README.md
  tools/lexicon-cli/package.json
Due: prettier, biome-check, typescript-check, lexicon-validate, lexicon-generate, no-console-log, check-todos

fix(amethyst): include lex validation reference
  apps/amethyst/Dockerfile
Due: none

docs(todo): record restored preview
  todo.md
Due: prettier

feat(amethyst): add notification context
  apps/amethyst/app/(tabs)/notifications.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(music): classify complete artist discographies
  apps/amethyst/app/(tabs)/:o/music/[artist]/index.tsx
  apps/aqua/src/repos/music.rs
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

fix(amethyst): support slug-only artist links
  .sqlx/query-72c85b603c19cf793ce9dc22834038629954e56aa6fde2260ae459014269bd08.json
  apps/amethyst/app/(tabs)/:o/music/[artist]/index.tsx
  apps/amethyst/app/(tabs)/:o/music/[artist]/listeners.tsx
  apps/aqua/src/repos/music.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

feat(amethyst): add manual album listens
  apps/amethyst/app/(tabs)/(stamp)/stamp/submit.tsx
  apps/amethyst/app/(tabs)/_layout.tsx
  apps/amethyst/app/(tabs)/manual-listens.tsx
  apps/amethyst/components/teal/TealShell.tsx
  apps/amethyst/lib/__tests__/manualListens.test.ts
  apps/amethyst/lib/manualListens.ts
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(amethyst): resolve logged-out auth state
  apps/amethyst/stores/authenticationSlice.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

docs(todo): record manual listening preview
  todo.md
Due: prettier

fix(amethyst): refine manual listening typography
  apps/amethyst/app/(tabs)/manual-listens.tsx
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(amethyst): present sign-in as a modal
  apps/amethyst/app/_layout.tsx
  apps/amethyst/app/auth/login.tsx
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(amethyst): simplify manual listens hero
  apps/amethyst/app/(tabs)/manual-listens.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(amethyst): clarify manual listen timing
  apps/amethyst/app/(tabs)/manual-listens.tsx
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

feat(cadet): durably retry failed play ingestion
  migrations/20260718000001_ingestion_retry_events.sql
  services/cadet/src/ingestion_retry.rs
  services/cadet/src/lib.rs
  services/cadet/src/main.rs
  services/cadet/src/teal_ingestors.rs
  todo.md
Due: prettier, cargo-fmt, cargo-clippy, check-todos

feat(amethyst): show running build metadata
  apps/amethyst/Dockerfile
  apps/amethyst/components/teal/TealShell.tsx
  apps/amethyst/lib/buildInfo.ts
  compose.dev.yml
  scripts/dev-tunnel.sh
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

Model play origins and services as URIs
  lexicons/fm.teal/feed/defs.json
  lexicons/fm.teal/feed/play.json
Due: prettier, lexicon-validate, lexicon-generate
