Repository teal-fm/teal: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

.pre-commit-config.yaml:

# Pre-commit configuration for Teal project
# Install with: pip install pre-commit && pre-commit install
# Run manually with: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: mixed-line-ending
        args: ["--fix=lf"]

  # TypeScript/JavaScript formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: pnpm prettier --write
        language: system
        files: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
        pass_filenames: true

      - id: biome-check
        name: Biome Check
        entry: pnpm biome check --apply
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check
        entry: pnpm typecheck
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: pnpm rust:fmt
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo Clippy
        entry: pnpm rust:clippy
        language: system
        files: \.rs$
        pass_filenames: false
        args: ["--", "-D", "warnings"]

  # Lexicon validation and generation
  - repo: local
    hooks:
      - id: lexicon-validate
        name: Validate Lexicons
        entry: pnpm lex:validate
        language: system
        files: lexicons/.*\.json$
        pass_filenames: false

      - id: lexicon-generate
        name: Generate Lexicons (files ignored by .gitignore)
        entry: pnpm lex:gen-server
        language: system
        files: lexicons/.*\.json$
        pass_filenames: false
        always_run: false

  # Optional: Additional checks
  - repo: local
    hooks:
      - id: no-console-log
        name: Check for console.log
        entry: bash -c 'if grep -r "console\.log" --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" .; then echo "Found console.log statements. Please remove them."; exit 1; fi'
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: check-todos
        name: Check for TODO/FIXME
        entry: bash -c 'if grep -r -i "TODO\|FIXME" --include="*.ts" --include="*.tsx" --include="*.js" --include="*.jsx" --include="*.rs" .; then echo "Found TODO/FIXME comments. Consider addressing them."; fi'
        language: system
        files: \.(ts|tsx|js|jsx|rs)$
        pass_filenames: false
        verbose: true

# Global settings
default_language_version:
  node: system
  python: python3

# Skip certain hooks for specific file patterns
exclude: |
  (?x)^(
    vendor/.*|
    node_modules/.*|
    target/.*|
    .git/.*|
    .*\.lock$
  )$

move social lexicons to new folder
  lexicons/fm.teal.alpha/feed/social/like.json
  lexicons/fm.teal.alpha/feed/social/playlist.json
  lexicons/fm.teal.alpha/feed/social/playlistItem.json
  lexicons/fm.teal.alpha/feed/social/post.json
  lexicons/fm.teal.alpha/feed/social/repost.json
  lexicons/fm.teal.alpha/richtext/facet.json
Due: prettier, lexicon-validate, lexicon-generate

#trackView def in feed.social
  lexicons/fm.teal.alpha/feed/social/defs.json
  lexicons/fm.teal.alpha/feed/social/playlistItem.json
Due: prettier, lexicon-validate, lexicon-generate

add ordering to playlistItem lexicon
  lexicons/fm.teal.alpha/feed/social/playlistItem.json
Due: prettier, lexicon-validate, lexicon-generate

fix description for playlist lexicon
  lexicons/fm.teal.alpha/feed/social/playlist.json
Due: prettier, lexicon-validate, lexicon-generate

Restructure Rust workspace and build configuration
  .github/workflows/ci.yml
  .mise.toml
  Cargo.lock
  Cargo.toml
  apps/amethyst/.gitignore
  apps/aqua/package.json
  pnpm-lock.yaml
  scripts/setup-sqlx-offline.sh
  services/Cargo.lock
  services/Cargo.toml
  services/cadet/Dockerfile
  services/cadet/package.json
  services/satellite/package.json
  turbo.json
Due: prettier

add jest for tests later on
  apps/amethyst/package.json
  pnpm-lock.yaml
Due: prettier

query data written to .sqlx in the workspace root; please check this into version control
  .sqlx/query-78d9f0eb3a550928cccd0a8c0faf3c9176a354238bf32b97a73a7bb41014b5eb.json
  Cargo.toml
  package.json
Due: prettier

jest expo
  apps/aqua/package.json
  pnpm-lock.yaml
Due: prettier

proper caching (full turbo :))
  Cargo.toml
  turbo.json
Due: prettier

bump and fix ios build
  apps/amethyst/hooks/useIsMobile.tsx
  apps/amethyst/package.json
  pnpm-lock.yaml
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

ignore builds properly this time
  apps/amethyst/.gitignore
Due: none

update deps and also expo
  apps/amethyst/app.config.js
  apps/amethyst/app/_layout.tsx
  apps/amethyst/app/auth/login.tsx
  apps/amethyst/app/auth/options.tsx
  apps/amethyst/app/auth/signup.tsx
  apps/amethyst/package.json
  pnpm-lock.yaml
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

tests work 100% so true
  apps/amethyst/components/__tests__/StyledText-test.js
  apps/amethyst/components/__tests__/StyledText-test.tsx
  apps/amethyst/jest-setup.ts
  apps/amethyst/package.json
  pnpm-lock.yaml
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

Move generated types over to jacquard
  Cargo.lock
  Cargo.toml
  README.md
  apps/aqua/Cargo.toml
  apps/aqua/src/repos/mod.rs
  services/cadet/Cargo.toml
  services/cadet/src/ingestors/car/car_import.rs
  services/cadet/src/ingestors/teal/actor_profile.rs
  services/cadet/src/ingestors/teal/actor_status.rs
  services/cadet/src/ingestors/teal/feed_play.rs
  services/types/Cargo.toml
  services/types/readme.md
  tools/lexicon-cli/README.md
  tools/lexicon-cli/src/commands/generate.ts
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

Jacquard typing in aqua too
  Cargo.lock
  Cargo.toml
  apps/aqua/src/api/mod.rs
  apps/aqua/src/repos/actor_profile.rs
  apps/aqua/src/repos/feed_play.rs
  apps/aqua/src/repos/stats.rs
  apps/aqua/src/xrpc/actor.rs
  apps/aqua/src/xrpc/feed.rs
  apps/aqua/src/xrpc/stats.rs
  lexicons/fm.teal.alpha/stats/defs.json
Due: prettier, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, check-todos

Update services/cadet/src/ingestors/car/car_import.rs
  services/cadet/src/ingestors/car/car_import.rs
Due: cargo-fmt, cargo-clippy, check-todos

Update services/types/readme.md
  services/types/readme.md
Due: prettier

fix cadet dockerfile path in dev compose
  compose.dev.yml
Due: prettier

cargo update will fix anything maybe
  Cargo.lock
Due: none

update status lexicon to use correct timestamp format
  lexicons/fm.teal.alpha/actor/status.json
Due: prettier, lexicon-validate, lexicon-generate

lexicon: add coverArtUrl and releaseGroupMbId fields to fm.teal.alpha.feed.play
  lexicons/fm.teal.alpha/feed/play.json
Due: prettier, lexicon-validate, lexicon-generate

fix(amethyst): oauth callback re-render loop
  apps/amethyst/app/auth/callback.tsx
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(amethyst): blob uploads missing content-type
  apps/amethyst/app/onboarding/index.tsx
  apps/amethyst/components/actor/actorView.tsx
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

fix(amethyst): make avatar and banner optional in onboarding
  apps/amethyst/app/onboarding/imageSelectionPage.tsx
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

chore: add eval and matching dependencies
  .env.template
  .gitignore
  Cargo.lock
  apps/amethyst/jest.lib.config.ts
  apps/amethyst/package.json
  package.json
  pnpm-lock.yaml
  services/cadet/Cargo.toml
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

feat(eval): add MusicBrainz matching eval harness
  scripts/eval/README.md
  scripts/eval/analyze-regressions.ts
  scripts/eval/auth.ts
  scripts/eval/evaluate-lastfm-cache.ts
  scripts/eval/evaluate.ts
  scripts/eval/lastfm-api.ts
  scripts/eval/listenbrainz-resolve.ts
  scripts/eval/mbid-resolution.ts
  scripts/eval/reporting.ts
  scripts/eval/search.ts
  scripts/eval/statistics.ts
  scripts/eval/types.ts
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

feat(amethyst): add MusicBrainz search pipeline with client-side ranking
  apps/amethyst/lib/__tests__/fuzzyMatching.test.ts
  apps/amethyst/lib/__tests__/musicbrainzCleaner.test.ts
  apps/amethyst/lib/__tests__/musicbrainzRanking.test.ts
  apps/amethyst/lib/__tests__/searchPipeline.e2e.test.ts
  apps/amethyst/lib/fuzzyMatching.ts
  apps/amethyst/lib/musicbrainzCleaner.ts
  apps/amethyst/lib/musicbrainzRanking.ts
  apps/amethyst/lib/musicbrainzSearchUtils.ts
  apps/amethyst/lib/oldStamp.tsx
  apps/amethyst/lib/searchOrchestrator.ts
Due: prettier, biome-check, typescript-check, no-console-log, check-todos

refactor(cadet): partially align backend name cleaning with frontend
  services/cadet/src/ingestors/teal/feed_play.rs
Due: cargo-fmt, cargo-clippy, check-todos

update natb/jacquard
  AGENTS.md
  Cargo.lock
  Cargo.toml
  apps/aqua/Cargo.toml
  apps/aqua/src/repos/actor_profile.rs
  apps/aqua/src/repos/feed_play.rs
  apps/aqua/src/repos/stats.rs
  apps/aqua/src/xrpc/actor.rs
  apps/aqua/src/xrpc/feed.rs
  apps/aqua/src/xrpc/stats.rs
  services/cadet/Cargo.toml
  services/cadet/src/ingestors/car/car_import.rs
  services/cadet/src/ingestors/teal/actor_profile.rs
  services/cadet/src/ingestors/teal/actor_status.rs
  services/cadet/src/ingestors/teal/feed_play.rs
  services/types/Cargo.toml
  tools/lexicon-cli/src/commands/generate.ts
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

dockerfile
  apps/aqua/Dockerfile
  services/cadet/Dockerfile
Due: none

frontend uptodate
  apps/amethyst/app.config.js
  apps/amethyst/app/(tabs)/_layout.tsx
  apps/amethyst/app/auth/callback.tsx
  apps/amethyst/app/auth/login.tsx
  apps/amethyst/app/onboarding/index.tsx
  apps/amethyst/babel.config.js
  apps/amethyst/components/actor/actorView.tsx
  apps/amethyst/global.d.ts
  apps/amethyst/jest-setup.ts
  apps/amethyst/jest.lib.config.ts
  apps/amethyst/lib/atp/oauth.tsx
  apps/amethyst/lib/musicbrainzSearchUtils.ts
  apps/amethyst/metro.config.js
  apps/amethyst/package.json
  apps/amethyst/stores/authenticationSlice.tsx
  apps/amethyst/tsconfig.json
  packages/lexicons/lex-gen.sh
  packages/lexicons/package.json
  pnpm-lock.yaml
Due: prettier, biome-check, typescript-check, lexicon-validate, lexicon-generate, no-console-log, check-todos

add uri formats
  lexicons/fm.teal.alpha/actor/profile.json
  lexicons/fm.teal.alpha/feed/defs.json
  lexicons/fm.teal.alpha/feed/play.json
  lexicons/fm.teal.alpha/stats/defs.json
Due: prettier, lexicon-validate, lexicon-generate

deprecate old artist fields
  lexicons/fm.teal.alpha/feed/play.json
Due: prettier, lexicon-validate, lexicon-generate

fix ci
  apps/aqua/src/repos/feed_play.rs
  apps/aqua/src/repos/mod.rs
  apps/aqua/src/repos/stats.rs
Due: cargo-fmt, cargo-clippy, check-todos

fix cli
  services/cadet/src/ingestors/teal/feed_play.rs
Due: cargo-fmt, cargo-clippy, check-todos

feat(teal): add songish-style appview and jetstream ingestion
  .env.template
  apps/amethyst/Caddyfile
  apps/amethyst/Dockerfile
  apps/amethyst/app/(tabs)/:o/music/[artist]/[release]/[track].tsx
  apps/amethyst/app/(tabs)/_layout.tsx
  apps/amethyst/app/(tabs)/index.tsx
  apps/amethyst/app/(tabs)/notifications.tsx
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/app/(tabs)/search/index.tsx
  apps/amethyst/app/_layout.tsx
  apps/amethyst/components/songish/PlayFeedCard.tsx
  apps/amethyst/components/songish/RightRail.tsx
  apps/amethyst/components/songish/SongishShell.tsx
  apps/amethyst/lib/teal/api.ts
  apps/aqua/src/repos/feed_play.rs
  apps/aqua/src/repos/stats.rs
  apps/aqua/src/xrpc/feed.rs
  compose.dev.yml
  compose.yaml
  lexicons/fm.teal.alpha/feed/defs.json
  packages/lexicons/lex-gen.sh
  services/cadet/src/cursor.rs
  services/cadet/src/ingestors/teal/feed_play.rs
  services/cadet/src/main.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, lexicon-validate, lexicon-generate, no-console-log, check-todos

docs(agent): add teal clone working workflow
  AGENT.md
Due: prettier

fix(cadet): unblock live jetstream play ingestion
  .sqlx/query-0e053ba402c8b769b697f60d189675eceb89f1d14e52174bda67dc65cc68d273.json
  .sqlx/query-348a15835fbf1e1f62a09e5f94287193483ca5ba76659baf8b18b35cab952e0d.json
  .sqlx/query-3c1690ead831005f4469309ec6b8bdbb519f5cb2f21131635aa68ca523611a3d.json
  .sqlx/query-5edc2de23cd7ca5b0c3c16e4eb1947338dbc276a4cbf8e116e7dd11bc3c7949e.json
  .sqlx/query-7fa22b474b224ecad073e47528ca7b3f6aa61951da0c7618f5c06324f25b0afd.json
  .sqlx/query-b8bf07c21c04acf3b4d908b2db93643e497db9a1f01d4d51b99dfdbddd2d4c0e.json
  .sqlx/query-f90899d33bea3bb7fef53c14fd2dfee801076979110792acbdb5dc17e87d9a37.json
  AGENT.md
  apps/amethyst/lib/teal/api.ts
  apps/aqua/src/repos/feed_play.rs
  apps/aqua/src/repos/stats.rs
  services/cadet/src/ingestors/teal/feed_play.rs
  todo.md
Due: prettier, biome-check, typescript-check, cargo-fmt, cargo-clippy, no-console-log, check-todos

feat(amethyst): add teal profile onboarding fallback
  apps/amethyst/app/(tabs)/profile/[handle].tsx
  apps/amethyst/app/_layout.tsx
  apps/amethyst/app/onboarding/_layout.tsx
  apps/amethyst/app/onboarding/descriptionPage.tsx
  apps/amethyst/app/onboarding/displayNamePage.tsx
  apps/amethyst/app/onboarding/imageSelectionPage.tsx
  apps/amethyst/app/onboarding/index.tsx
  apps/amethyst/components/onboarding/progressDots.tsx
  apps/amethyst/lib/teal/api.ts
  todo.md
Due: prettier, biome-check, typescript-check, no-console-log, check-todos
